# Terraform & Terragrunt
**/.terraform/*
**/.terragrunt-cache/*
*.tfstate
*.tfstate.*
!state-management/*.tfstate
!state-management/*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
terraform.rc
.terraform.lock.hcl
.terragrunt-module-manifest
override.tf
override.tf.json
*_override.tf
*_override.tf.json
