# Terraform & Terragrunt
**/.terraform/*
**/.terragrunt-cache/*
*.tfstate
*.tfstate.*
!state-management/*.tfstate
!state-management/*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
terraform.rc
.terraform.lock.hcl
.terragrunt-module-manifest
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log
crash.*.log

# Chaves e credenciais
*.pem
*.key
*.pub
*.crt
*.ppk
secrets.auto.tfvars
.secrets/
**/account.json
**/*.env
!templates/*.env.template

# Arquivos de sistema e temporários
.DS_Store
Thumbs.db
.tmp
*.swp
*.swo
*~
*.bak
*.log
*.tmp

# Diretórios de editores e IDEs
.idea/
.vscode/
.history/
*.sublime-workspace
*.sublime-project
.project
.settings/
.classpath
*.iml
*.iws
*.ipr

# Diretórios Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv
.env
.env.local
.env.development
.env.test
.env.production

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm/

# Ruby
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/

# Outros
**/.bundle/
**/vendor/
.vagrant/
.kitchen/
.kitchen.local.yml 